.container {
    display: flex;
    padding: 110px;
}
.user-title {
    font-size: 25px;
    font-weight: bold;
    color: #555;
}
.form-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    width: 95%;
    padding: 10px;
    background: #86c0e6;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.form-container button:hover {
    background: #73a5d3;
}

#backButton {
    position: fixed;
    top: 80px;
    left: 20px;
    background-color: #86c0e6;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-decoration: none; /* 移除底線 */
    display: inline-block; /* 確保樣式正常應用 */
}
#backButton:hover {
    background-color: #0056b3;
}
