# Django #
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Virtual Environment #
venv/
env/
ENV/

# Python #
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Backup files #
*.bak

# PyCharm #
.idea/
*.iws
*.iml
*.ipr

# VS Code #
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# Jupyter Notebook #
.ipynb_checkpoints

# Distribution / packaging #
.Python

# Unit test / coverage reports #
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations #
*.mo

# Django stuff #
staticfiles/

# Celery #
celerybeat-schedule
celerybeat.pid

# SageMath parsed files #
*.sage.py

# Environments #
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy #
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker #
.pyre/

# pytype static type analyzer #
.pytype/

# Mac OS #
.DS_Store

# Windows #
Thumbs.db
ehthumbs.db
Desktop.ini